<footer class="footer section">
   <div class="footer__top">
      <div class="footer__container">
         <h2 class="title">Замовляй прямо зараз!</h2>
         <p>Ми зателефонуємо вам для уточнення замовлення і ваших побажань.</p>
         <p>Разом з вами втілимо будь-які ваші задумки у випічці. Ви порадуєте себе або своїх гостей, а ми будемо
            щасливі
            розділити з вами дану мить.</p>
         <p>Доставка проводиться через самовивіз, <span>Glovo</span> та <span>Raketa.</span></p>
         <form action="" class="d-g ai-c footer__form">
            <div class="footer__form-column">
               <div><label class="fz20" for="name">Ваше ім’я*</label></div>
               <input placeholder="Ім'я" type="text" name="name" />
            </div>
            <div class="footer__form-column">
               <div><label class="fz20" for="tel">Номер телефону*</label></div>
               <input placeholder="Телефон" type="tel" name="tel" />

            </div>
            <div class="footer__form-column">
               <button class="button">Надіслати</button>
            </div>
         </form>
      </div>
   </div>
   <div class="footer__row d-g">
      <div class="footer__column">
         <a href="#"><img src="./../assets/images/map.jpg" alt="Карта"></a>
      </div>
      <div class="footer__column">
         <div class="logo">
            <img src="./../assets/images/logo.svg" alt="Логотип">
         </div>
         <div class="footer__column-items d-g">
            <div class="footer__column-item">
               <ul>
                  <li><a href="#">Про компанію</a></li>
                  <li><a href="#">Про компанію</a></li>
                  <li><a href="#">Про компанію</a></li>
                  <li><a href="#">Про компанію</a></li>
               </ul>
            </div>
            <div class="footer__column-item">
               <ul>
                  <li class="d-f">
                     <img src="./../assets/images/point.svg" alt="Точка">
                     <span>м. Вінниця</span>
                  </li>
                  <li class="d-f">
                     <img src="./../assets/images/point.svg" alt="Точка">
                     <span>
                        Пн - Пт. 09:00 - 21:00 <br />
                        Пн - Пт. 09:00 - 21:00 <br />
                     </span>
                  </li>
                  <li class="d-f">
                     <img src="./../assets/images/point.svg" alt="Точка">
                     <span>
                        (099) 999-99-99 <br />
                        (099) 999-99-99 <br />
                     </span>
                  </li>
               </ul>
            </div>
         </div>
         <p>© Працюємо з 2021 року</p>
      </div>
   </div>
</footer>