<header class="header">
   <div class="container">
      <div class="header__row d-f jc-sb ai-c">
         <div class="header__column">
            <a href="#"> <img src="./../assets/images/logo.svg" alt="Логотип"></a>
         </div>
         <div class="header__column d-f ai-c">
            <a class="fz34" href="#">(099) 999-99-99</a>
            <nav class="nav">
               <ul class="d-f ai-c">
                  <li><a href="#">Про компанію</a></li>
                  <li><a href="#">Чому ми?</a></li>
                  <li><a href="#">Робота в компанії</a></li>
                  <li><a href="#">Контакти</a></li>
               </ul>
            </nav>
         </div>
         <div class="header__column">
            <button class="button box-shadow fz20">Асортимент <img src="./../assets/images/to-right.svg"
                  alt="Стрілка вправо"></button>
         </div>
      </div>
   </div>
</header>